
.wrap{
    flex: 1;
    width: 70%;
    margin: 0px auto;
    color: rgba(0, 0, 0, 0.7);

    p, h2, h3, h4, h5{
      padding: 5px 0px;
      color: rgba(0, 0, 0, 0.7);
    }
    .brief{
       text-align: center;
       h2{
         margin: 12px 0px;
         font-size: 20px;
       }
       img{
          width: 150px;
          height: 150px;
          border-radius: 120px;
          margin-top: 20px;
       }
       ul{
        display: flex;
        justify-content: center;
         li{
            padding: 6px 10px;
            background: rgba(87, 199, 255, 0.1);
            margin: 12px 5px;
            border-radius: 3px;
            
         }      
       }

    }
    
    .title{
      h3{
        font-size: 30px;
        padding-bottom: 12px;
        color: rgba(0,0,0,.8);
        font-weight: 400;
      }
      p{
        color: rgba(0, 0, 0, 0.7);
      }
    }

    .work{
        text-align: center;
        padding-top: 40px;
        padding-bottom: 25px;
        ul li a{
          float: left;
          padding-left: 20px;
          div
          {
            border-radius: 75px;
            display: grid;
            img{
              margin: auto auto;
              padding: 2px;
            }
          }
        }
        
    }
    .education{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 25px;

      ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
         li{
            width: 45%;            
            margin-bottom: 45px;
            img{
              justify-content: space-between;
              display: flex;
              max-width: 85px;
              margin: 10px auto;
              border: 1px solid #e4e4e4;
              border-radius: 25px;
              padding: 18px;
            }
        }
      }
    } 
    .skills{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 25px;
      max-width: 800px;
      margin: auto auto;

      ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
         li{
            width: 13%;            
            margin-bottom: 45px;
            
            svg{
              justify-content: space-between;
              display: flex;
              max-width: 100%;
              margin: 10px 15px; 
              // border: 1px solid #e4e4e4;
              // border-radius: 25px;
            }
            img{
              justify-content: space-between;
              display: flex;
              max-width: 72%;
              margin: 10px 15px; 
              // border: 1px solid #e4e4e4;
              // border-radius: 25px;
            }
        }
      }

    }
    .work_exp{
      text-align: center;
      padding-top: 40px;
      padding-bottom: 25px;

      ul{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
         li{
            width: 100%;            
            margin-bottom: 45px;
            ul{
              margin:10px 0 10px 0;
              li{
                width:100%;
                margin-bottom: 5px;
                list-style-type: disc;
                list-style-position: inside;
              }
            }
            img{
              justify-content: space-between;
              display: flex;
              max-width: 85px;
              margin: 10px auto;
              border: 1px solid #e4e4e4;
              border-radius: 25px;
              padding: 18px;
            }
        }
      }
    }     
}